<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Rock Paper Scissors</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1 class="jumbotron">Rock Paper Scissors</h1>
    <form action="/rockpaperscissors" method="post">
      <input type="radio" id="player1" name="player1" value="rock" checked>
      <label for="player1">Rock</label><br>
      <input type="radio" id="player1" name="player1" value="paper">
      <label for="player1">Paper</label><br>
      <input type="radio" id="player1" name="player1" value="scissors">
      <label for="player1">Scissors</label><br>

      <input type="radio" id="player2" name="player2" value="rock" checked>
      <label for="player2">Rock</label><br>
      <input type="radio" id="player2" name="player2" value="paper">
      <label for="player2">Paper</label><br>
      <input type="radio" id="player2" name="player2" value="scissors">
      <label for="player2">Scissors</label>
      <button type="submit">Go!</button>
    </form>
  </body>
</html>